<table class="table">
  <tr>
    <th>#ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let todo of todos">
    <td>{{todo.id}}</td>
    <td>{{todo.name}}</td>
    <td>{{todo.description}}</td>
    <td>
      <button class="btn btn-outline-primary mx-1" (click)="editTodo(todo)"> <i class="fa-solid fa-pen-to-square"></i> Edit</button>
      <button class="btn btn-outline-danger mx-1" (click)="deleteTodo(todo)"> <i class="fa-solid fa-xmark"></i> Delete</button>
    </td>
  </tr>
</table>
